<head>
	<title>Add a Friend!</title>
</head>

<body>
	<div class="title">
		<h1>Add Friend </h1>
        </div>
        
        <div class = "content">
             <form method="post" action="/add_friend">
        	<label for="recipient_email">Enter your Friend's Email:</label>
        	<input type="text" name="recipient_email" required='true' /><br/>
                
        	<label for="message">Your Message:</label>
        	<input type='text" name="message" required='false' /><br/>
        
        	<input type="submit" value = "Send Request"/>
             </form>
        </div>

</body>

<a href='/'>Home</a> 
