<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Upload a photo</title>
</head>
    <body>
        <div class="title">
            <h1>Upload a photo to your account</h1>
        </div>
        
        <form method="post" enctype="multipart/form-data" action="/upload">
            <label for="photo">Select photo:</label>
            <input type="file" name="photo" required='true' /><br/>

            <label for="caption">Please caption:</label>
            <input type="text" name="caption" required='true' /><br/>
                
            <label for="tag"> Select tag:</label>
            <input type="text" name="tag" required='true' /><br/>
            
            <label for="album_id"> Select Album: </label>

            <select name = "album_id">
           	{% for album in data %}
            		<option value = {{album[0]}}> {{album[1]}} </option> 
            	{% endfor %}
	    </select>

            
            <input type="submit" value="Upload" />
        </form>
        
    </body>

